.container {
    width: 100%;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    border-top: 1px solid #fff;
    position: sticky;
}

.fBasic {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fRow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
}

.fText {
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
}

.fMenu {
    display: flex;
    padding: 0%;
}

.fListItem{
    list-style: none;
    margin: 0px 15px;
}

.fLinks {
    font-family: var(--font-roboto_mono);
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.fLogo {
    font-family: var(--font-poppins);
    font-weight: 700;
    color: #fff;
    width: fit-content;
    line-height: 100%;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    padding: 2px 5px;
    margin: 0px;
    border: 2px solid #fff;
}

.fLogo:hover{
    color: #000;
    background-color: #fff;
}

.copyright {
    width: 100%;
    margin-bottom: 1rem;
    text-align:center;
    font-size:13px;
    color:#aaa;
}
